.root {
  overflow: hidden;
}

.logoWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(38px * var(--mantine-scale));
  height: calc(38px * var(--mantine-scale));
  border-radius: 50%;
  ::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-6));
    border-radius: 50%;
    z-index: 0;
    animation: pulse 0.9s ease-out infinite;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    animation: image 0.9s ease-out infinite;

    &[data-finished] {
      animation: grow-bounce 1s 1 forwards;
    }

    @media (prefers-reduced-motion) {
      animation: none;
    }
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}

@keyframes image {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.3);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes grow-bounce {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  40%,
  50% {
    transform: translate(-50%, -50%) scale(0.7);
  }

  65%,
  75% {
    transform: translate(-50%, -50%) scale(1.4);
  }

  100% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}
