@import '@mantine/core/styles.layer.css';
@import '@gfazioli/mantine-marquee/styles.layer.css';

@layer mantine, mantine_overrides, app;

@layer mantine_overrides {
  .lucide {
    width: var(--mantine-font-size-md);
    height: var(--mantine-font-size-md);
  }

  .brand-icon {
    --brand-icon-size: var(--mantine-font-size-md);
    height: var(--brand-icon-size);
    width: var(--brand-icon-size);
  }

  .mantine-Button-section {
    .lucide {
      width: var(--button-fz, var(--mantine-font-size-md));
      height: var(--button-fz, var(--mantine-font-size-md));
    }

    .brand-icon {
      --brand-icon-size: var(--button-fz, var(--mantine-font-size-md));
    }
  }

  .mantine-ActionIcon-root {
    .lucide {
      width: calc(var(--ai-size) * 0.55);
      height: calc(var(--ai-size) * 0.55);
    }

    .brand-icon {
      --brand-icon-size: calc(var(--ai-size) * 0.55);
    }
  }
}

@layer app {
  html {
    scroll-behavior: smooth;
  }

  .content-container {
    @media (min-width: 1200px) {
      padding-inline: 40px;
    }

    padding-inline: 20px;
    margin: 0 auto;
    max-width: 1220px;
    width: 100%;
  }
}
